.Home {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://img.freepik.com/photos-gratuite/prise-vue-au-grand-angle-seul-arbre-poussant-sous-ciel-assombri-pendant-coucher-soleil-entoure-herbe_181624-22807.jpg?w=2000);
  background-size: cover;
  height: 100vh;
  color: white;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem; /* Adjust the size as needed */
  text-align: center;
  margin-top: 0; /* Reset default margin */
}

p {
  font-size: 2rem; /* Adjust the size as needed */
  text-align: center;
}

/* Button Style */
.button-89 {
  --b: 3px; /* Border thickness */
  --s: 0.45em; /* Size of the corner */
  --color: #fff; /* Button text color */

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
